/ views/businesses/_form-aside.html.haml

.card
  = image_tag 'decoration/form-cards/business.jpg', class: 'card-img-top img-fluid'
  .card-block
    %h4.card-title Our businesses
    %p.card-text A business is a line of product targeting a specific language.
