.widget.m-b-3
  %h3.text-uppercase.m-b-3  Archives
  .content
    .posts-archive{role:'tablist', aria:{multiselectable: true}}
      = render partial: 'widgets/archives/year', collection: @archives, as: :archive
