.widget
  %h4.widget__title Archives
  .widget__content
    .posts-archive{role:'tablist', aria:{multiselectable: true}}
      = render partial: 'widgets/archives/year', collection: @archives, as: :archive
