- categories = []
- @website.categories.each do |c|
  - categories << link_to(c.name, category_path(slug: c.slug), { :class => "a" })

.widget
  %h4.widget__title Categories
  .widget__content
    %ul.list
      - categories.each do |c|
        %li= c
