.widget
  %h4.widget__title Filter
  .widget__content--plain
    .select
      %select.form-control
        %option Filter by category
        %option Improving Life (4)
        %option Nature (2)
        %option Photos (2)
        %option Self Development (2)
        %option Technology (2)
