- categories = @website.categories

.widget
  %h3.text-uppercase.m-b-3  Filter
  .content.content-plain
    .select
      %select.form-control{ :onchange => "location = this.options[this.selectedIndex].value;"}
        %option Filter by category
        - categories.each do |c|
          %option{:value => category_path(slug: c.slug)}= c.name
