- categories = @website.categories

.widget.m-b-3
  %h3.text-uppercase.m-b-3  Filter
  .content.content-plain
    .select
      = select_tag "category", options_from_collection_for_select(@website.categories, "slug", "name"), include_blank: "Filter by category", class: 'form-control'
