%footer.footer
  .container
    .row
      .col-md-6
        .left
          %span.title
            = @website.business.name
          &nbsp;&nbsp;
          %span.copyright.text-muted
            ©
            = Time.now.strftime("%Y")
            All rights reserved.
      .col-md-6
        .right
          %ul.list-inline.text-xs-right
            %li.list-inline-item
              %a{:href => "#"}
                %span.fa-stack.fa-lg
                  %i.fa.fa-circle.fa-stack-2x
                  %i.fa.fa-twitter.fa-stack-1x.fa-inverse
            %li.list-inline-item
              %a{:href => "#"}
                %span.fa-stack.fa-lg
                  %i.fa.fa-circle.fa-stack-2x
                  %i.fa.fa-facebook.fa-stack-1x.fa-inverse
            %li.list-inline-item
              %a{:href => "#"}
                %span.fa-stack.fa-lg
                  %i.fa.fa-circle.fa-stack-2x
                  %i.fa.fa-github.fa-stack-1x.fa-inverse
