$("#collapse#{@year}").html('#{j render(partial: 'blog/public/widgets/archives/month', collection: @archives, as: :archive)}');
$("#linkto#{@year}").attr('href', "#collapse#{@year}").removeAttr('data-remote');