/ views/blog/categories/_edit.html.haml
.card

  .card-block
    %h4.card-title Edit Category
    
    = render 'form'
    
    .pull-xs-right 
      = link_to blog_categories_path(business_website_id: @website.try(:id)), 
        class: 'btn btn-secondary pull-right', 
        role: 'button', 
        title: th('activerecord.actions.new') do
        = i 'plus'
        = t 'activerecord.actions.new'