= render 'list'
$('#categories_count').html('#{@categories_unpaginated.count}');
$('#blog_category_name').val('');
$('#blog_category_slug').val('');
$('<div></div>').addClass('alert alert-info').html('Category Created').appendTo($('.category_flash')).fadeOut(3000);

