/ views/partners/_form-aside.html.haml

.card
  = image_tag 'decoration/form-cards/partner.jpg', class: 'card-img-top img-fluid'
  .card-block
    %h4.card-title A Partner
    %p.card-text It is a website which may display backlinks to our websites.
    %p.card-text Give as much information as you can.
    %p.card-text you can add several emails