- list_title = yield(:list_title)

.container

  - if list_title.present?
    .row
      .col-md-12
        %h1= list_title

  .row
    .col-md-12
      = render 'posts/list'

  .row
    .col-md-12.text-xs-center
      = paginate @posts
