- list_title = yield(:list_title)

.container

  - if list_title.present?
    .row
      .col-md-9
        %h1= list_title
        
  .row
    .col-md-9
      = render 'posts/list'
                
    .col-md-3
      = render 'sidebar'
  
  .row
    .col-md-10.text-xs-center
      = paginate @posts