/ Navigation
%nav.navbar.navbar-default.navbar-custom.navbar-fixed-top
  .container-fluid
    / Brand and toggle get grouped for better mobile display
    .navbar-header.page-scroll
      %button.navbar-toggler.hidden-sm-up.pull-xs-right{type: "button", aria: {controls: "menu", expanded: "false", label: "Toggle navigation"}, data: {toggle: "collapse", target: "#menu"}}
        &#9776;
      = link_to @website.business.name, root_path, class: "navbar-brand"
      #menu.collapse.navbar-toggleable-xs
        %ul.nav.navbar-nav.pull-xs-right
          - @website.pages.published.each do |page|
            %li.nav-item
              = link_to page.decorate.title, page_path(slug: page.slug), class: "nav-link"
