%header.intro-header{:style => "background: url(#{image_path('home-bg.jpg')})"}
  .container
    .row
      .col-lg-8.offset-lg-2.col-md-10.offset-md-1
        .site-heading
          %h1= @website.decorate.title
          %hr.small/
          %span.subheading= @website.decorate.baseline  