$('tbody').html('#{j render(partial: 'row', collection: @tags, as: :tag)}');
$('#pagination').html('#{j(paginate(@tags, :remote => true).to_s)}');
$('#pagination-bottom').html('#{j(paginate(@tags, :remote => true).to_s)}');
$('tbody').removeClass('loading');