/ views/partner/request/_form-aside.html.haml

.card
  = image_tag 'decoration/form-cards/partner_request.jpg', class: 'card-img-top img-fluid'
  .card-block
    %h4.card-title How to write a request ?
    %p.card-text= "The <i>subject</i> must be direct and personalized.".html_safe 
    %p.card-text= "The <i>body</i> should explain who you are, why you like the partner's website and what you offer them.".html_safe
    %p.card-text= "Select <i>channel</i> to send your request".html_safe