$('tbody').html('#{j render(partial: 'row', collection: @authors, as: :author)}');
$('#pagination').html('#{j(paginate(@authors, :remote => true).to_s)}');
$('#pagination-bottom').html('#{j(paginate(@authors, :remote => true).to_s)}');
$('tbody').removeClass('loading');