= render 'list'
$('#people_author_username').val('');
$('#blog_category_slug').val('');
$('<div></div>').addClass('alert alert-info').html('Author Created').appendTo($('.author_flash')).fadeOut(3000);

