.card {
  border: none;
}

.site-title__title {
    text-transform: uppercase;
    font-size: 3.6rem;
    margin-bottom: 2.5rem;
}

.site-title__slogan {
    font-size: 1.8rem;
    text-transform: uppercase;
    color: #888;
    margin: 0;
    padding: 2.5rem 0 0 0;
    border-top: 1px solid #00adef;
}


.widgets {
    margin-top: 40px;
}

.widget__title {
    font-size: 1.8rem;
    text-transform: uppercase;
    margin-bottom: 3rem;
}

.widget {
    margin-bottom: 3rem;
}


.widget__content {
    background: white;
    padding: 3rem;
}


.posts-archive__year {
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1.7;
}

.panel:not(:first-child) .posts-archive__year{
  margin-top: 1.5rem;
  border-top: 1px solid #ccc;
  padding-top: 1.5rem;
}

.panel-title.posts-archive__month {
    font-size: 1.5rem;
    line-height: 1.66;
    font-weight: normal;
}

posts-archive__post {
    font-size: 1.5rem;
    line-height: 1.2;
}


.card-columns {
    -webkit-column-gap: 3rem;
       -moz-column-gap: 3rem;
            column-gap: 3rem;
}


.card--post {
    margin: 0;
    -webkit-column-break-inside: avoid;
       page-break-inside: avoid;
            break-inside: avoid;
    padding: 1.5rem 0;
    background: none;
}

.card--post__block {
    padding: 3rem;
    background: white;
}


.card--post__category {
    margin: 0 0 1rem 0;
}

.card--post__category a {
    color: #00adef;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2rem;
}

.card--post__title {
    font-size: 2.2rem;
    margin: 0 0 2rem 0;
}

.card--post__date {
    font-size: 1.2rem;
    text-transform: uppercase;
    margin: 0 0 1rem 0;
    color: #888;
}

.card--post__text {
    margin-top: 2rem;
    font-family: 'Vollkorn', serif;
}



.card-columns--post {
    margin-top: -1.5rem;
}


.footer__title {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.8r;
}


.footer__copyright.text-muted {
    text-transform: uppercase;
    font-size: 1.5rem;
}

.search-form {
    position: relative;
}

.search-form::before {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f002";
    position: absolute;
    right: 1.5rem;
    top: 1.2rem;
    display: block;
    pointer-events: none;
}


select.form-control{
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    height: 4.5rem !important;
}

.select::before{
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f107";
    position: absolute;
    right: 1.5rem;
    top: 1.2rem;
    display: block;
    pointer-events: none;
}


.select {
    position: relative;
}

.post-page-image {
    width: 100%;
    padding-top: calc(100% * 9 / 16);
    position: relative;
}

.post-page-image img {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}

.post-page-content {
    padding: 3rem;
    max-width: 65rem;
    margin: 0 auto;
}


.post-page-title {
    font-size: 4rem;
    margin-bottom: 1.5rem;
    text-align: center;
}


.post-page-meta {
    font-size: 1.4rem;
    text-transform: uppercase;
    margin-bottom: 3rem;
    text-align: center;
    color: #888;
}

.post-page-author::after {
    content: "\2022";
}

.post-page {
    background-color: white;
}


.post-page-body {
    font-family: 'Vollkorn', serif;
    line-height: 1.5;
}

.post-page-body h2 {
    margin: 1.5rem 0;
}

.post-page-categories {
    text-align: center;
    margin-bottom: 1.5rem;
}

.post-page-categories a {
    color: #00adef;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2rem;
}


.post-page-appendix h3 {
    font-weight: normal;
    text-transform: uppercase;
    color: #888;
    margin-bottom: 1.5rem;
}


.post-page-appendix {
    padding: 3rem 0;
    border-top: 1px solid #ccc;
    margin-top: 3rem;
}

.post-page-appendix + .post-page-appendix{
    margin-top: 0
}

.post-page-appendix:last-child{
    padding-bottom: 0;
}


.post-page-tags a {
    display: inline-block;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    background-color: #3d3d3d;
    color: white;
    padding: 1rem 2rem;
    border-radius: 3rem;
    line-height: 1;
}


.author-info {
    background: white;
    padding: 3rem;
    margin-bottom: 3rem;
}

.author-info .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.author-info-img {
  position: relative;
  padding-top: calc(100%);
  border-radius: 100%;
  overflow: hidden;
}

.author-info-img > * {
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}


.author-info-blurb {
    font-family: 'Vollkorn', serif;
    font-size: 1.6rem;
    line-height: 1.5;
}

.author-info-name {
    font-weight: bold;
    font-size: 2.8rem;
    margin-bottom: 1.5rem;
}


.author-info-position {
    font-size: 1.7rem;
    margin: 1rem 0;
}

.author-info-social {
    font-size: 3rem;
    color: #888;
}


.post-page-author-blurb {
  font-family: 'Vollkorn', serif;font-size: 1.6rem;line-height: 1.5;
}

.post-page-author-name {
    font-size: 1.8rem;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
}

.post-page-author-social {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: #888;
}

.post-page-share {
    margin-bottom: 0;
}