/*
 * Breakpoints:
 * xs < 543px
 * sm > 544px
 * md > 768px
 * lg > 992px
 * xl > 1200px
 */

body {
    height: 100%;
    padding: 7rem 7rem 0 7rem;
    background-color: #f2f2f2;
    line-height: 1.2;
}

@media (max-width: 767px) {
    body {
        padding: 3rem 1.5rem 0 1.5rem;
    }
}

.container, .container-fluid {
    padding: 0;
}


@media (min-width: 768px) {
    .sidebar {
        padding-right: 3rem;
    }
}

@media (min-width: 544px) {
    .card-columns {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}

@media (min-width: 992px) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}


@media (min-width: 1200px) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}

.footer {
    background-color: rgb(61, 61, 61);
    margin-left: -7rem;
    margin-right: -7rem;
    padding: 1.5rem 0;
}

.footer .left {
    height: 5rem;
    display: flex;
    align-items: center;
}

