.card {
    border: none;
}

.site-header {
    display: flex;
}

.site-title {
    flex: 1;
}

.navbar-toggler {
    width: 4.6rem;
    height: 4.6rem;
    border: 1px solid #ccc;
    font-size: 2rem;
    margin-left: 1.5rem;
}

@media (min-width: 768px) {
    .collapse {
        display: block !important;
    }
}

.site-title .title {
    text-transform: uppercase;
    font-size: 3.6rem;
    margin-bottom: 2.5rem;
}

.site-title .subheading {
    font-size: 1.8rem;
    text-transform: uppercase;
    color: #888;
    padding: 2.5rem 0 0 0;
    border-top: 0.1rem solid #00adef;
}


@media (max-width: 767px) {
    .site-header {
        margin-bottom: 3rem;
    }
    .site-title .title {
        font-size: 1.8rem;
        margin-bottom: 1rem;
    }

    .site-title .subheading {
        padding-top: 1rem;
        font-size: 1.2rem;
    }
}

.widgets {
    margin-top: 4rem;
}

@media (max-width: 767px) {
    .widgets {
        background-color: #575757;
        margin: 0 -1.5rem 3rem -1.5rem;
        padding: 3rem 1.5rem;
    }
    .widget h3 {
        color: white;
    }
}

.widget h3 {
    font-size: 1.8rem;
}

.widget .content:not(.content-plain) {
    background: white;
    padding: 3rem;
}

.posts-archive .year {
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1.7;
}

.posts-archive .year a {
    color: black;
}

.posts-archive .panel:not(:first-child) .year {
    margin-top: 1.5rem;
    border-top: 0.1rem solid #ccc;
    padding-top: 1.5rem;
}

.panel-title.posts-archive .month {
    font-size: 1.5rem;
    line-height: 1.66;
    font-weight: normal;
}

.card-columns {
    -webkit-column-gap: 3rem;
    -moz-column-gap: 3rem;
    column-gap: 3rem;
}

.card-post {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    padding: 1.5rem 0;
    background: none;
}

.card-post .card-block {
    padding: 3rem;
    background: white;
}

.card-post .post-category a {
    color: #00adef;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2rem;
}

.card-post .post-category a:hover {
    text-decoration: underline;
}

.card-post .card-title {
    font-size: 2.2rem;
}

.card-post .card-title a {
    color: black;
}

.card-post .post-date {
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #888;
}

.card-post .card-text {
    font-family: 'Vollkorn', serif;
    line-height: 1.5;
}

.card-post-columns {
    margin-top: -1.5rem;
}

.footer .title {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.8rem;
}

.footer .copyright {
    text-transform: uppercase;
    font-size: 1.5rem;
}

.search-form {
    position: relative;
}

.search-form::before {
    font: normal normal normal 1.4rem/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f002";
    position: absolute;
    right: 1.5rem;
    top: 1.2rem;
    display: block;
    pointer-events: none;
}

select.form-control {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 4.5rem !important;
}

.select::before {
    font: normal normal normal 1.4rem/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f107";
    position: absolute;
    right: 1.5rem;
    top: 1.2rem;
    display: block;
    pointer-events: none;
}

.select {
    position: relative;
}

.post-page-image {
    width: 100%;
    padding-top: calc(100% * 9 / 16);
    position: relative;
}

.post-page-image img {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.post-page-content {
    padding: 3rem;
    max-width: 65rem;
    margin: 0 auto;
}

.post-page-title {
    font-size: 4rem;
    margin-bottom: 1.5rem;
    text-align: center;
}

.post-page-meta {
    font-size: 1.4rem;
    text-transform: uppercase;
    text-align: center;
    color: #888;
}

.post-page-author::after {
    content: "\2022";
}

.post-page {
    background-color: white;
}

.post-page-body {
    font-family: 'Vollkorn', serif;
    line-height: 1.5;
}

.post-page-body h2 {
    margin: 1.5rem 0;
}

.post-page-categories {
    text-align: center;
    margin-bottom: 1.5rem;
}

.post-page-categories a {
    color: #00adef;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2rem;
}

.post-page-appendix h3 {
    font-weight: normal;
    text-transform: uppercase;
    color: #888;
    margin-bottom: 1.5rem;
}

.post-page-appendix {
    padding: 3rem 0;
    border-top: 0.1rem solid #ccc;
}

.post-page-appendix:last-child {
    padding-bottom: 0;
}

.post-page-tags a {
    display: inline-block;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    background-color: #3d3d3d;
    color: white;
    padding: 1rem 2rem;
    border-radius: 3rem;
    line-height: 1;
}

.author-info {
    background: white;
    padding: 3rem;
}

.author-info .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.author-info-img {
    position: relative;
    padding-top: calc(100%);
    border-radius: 100%;
    overflow: hidden;
}

.author-info-img>* {
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.author-info-blurb {
    font-family: 'Vollkorn', serif;
    font-size: 1.6rem;
    line-height: 1.5;
}

.author-info-name {
    font-weight: bold;
    font-size: 2.8rem;
    margin-bottom: 1.5rem;
}

.author-info-position {
    font-size: 1.7rem;
}

.author-info-social {
    font-size: 3rem;
    color: #888;
}

.post-page-author-blurb {
    font-family: 'Vollkorn', serif;
    font-size: 1.6rem;
    line-height: 1.5;
}

.post-page-author-name {
    font-size: 1.8rem;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
}

.post-page-author-social {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: #888;
}

.post-list-title {
    font-size: 2.8rem;
    padding: 4.7rem 0 3rem 0;
    border-bottom: 0.1rem solid #ccc;
}
