.card {
    overflow:hidden;
}

.card-shadow {
  border: solid 10px $gray-lightest;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  @include box-shadow(0 0 1px 3px $box-shadow-color);
  @include border-radius ($card-border-radius);
  .card {
    margin: 0;
  }
}