label.required:after {
  content:" *";
}

.rails-bootstrap-forms-date-select select,
.rails-bootstrap-forms-time-select select,
.rails-bootstrap-forms-datetime-select select {
  display: inline-block;
  width: auto;
}

.rails-bootstrap-forms-error-summary {
  margin-top: 10px;
}

.select2-container--bootstrap {
  color: #000;
}

fieldset.bootsy {
  border: solid 1px grey;
  padding: 10px;
  
  textarea {
    height: 300px;
    color: #000;
  }
}

body.bootsy_text_area  a {
 color: red; 
}

.has-error {
  span.help-block, label.control-label {
    color: $brand-danger;
  }
}

.filters .list-inline-item:not(:first-child)::before {
  content: '|';
  padding-right: 5px;
  color: $brand-danger;
}