.select2-container--bootstrap {
  color: #000;
}

form {
    label.required:after {
    content:" *";
  }

  .rails-bootstrap-forms-date-select select,
  .rails-bootstrap-forms-time-select select,
  .rails-bootstrap-forms-datetime-select select {
    display: inline-block;
    width: auto;
  }

  .rails-bootstrap-forms-error-summary {
    margin-top: 10px;
  }



  fieldset.bootsy {
    border: solid 1px grey;
    padding: 10px;
  
    textarea {
      height: 300px;
      color: #000;
    }
  }

  .has-error {
    span.help-block, label.control-label {
      color: $brand-danger;
    }
  }

  .filters .list-inline-item:not(:first-child)::before {
    content: '|';
    padding-right: 5px;
    color: $brand-danger;
  }

  .uploaded_image, .featured_image {
    margin: auto;
  }
  
  .toggle-card {
    cursor: pointer;
  }
}

.form-control.bootsy_text_area  {
  a {
    color: $brand-primary; 
    &[rel~="internal"] {
      &:after {
        content: "\f08e";
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        padding-left: 0.2em;
        color: $brand-danger;
      }
    }
    &:hover {
      color: darken($brand-primary, 15%);
    }
  }
}