
html, body, .full-height {
  height:100%;
  min-height: 100%;
}

body {
  #padding-top:47px; 
  padding: 10px 20px 0 20px;
  background-color: $body-bg-primary ;
}

/* workaround modal-open padding issue */
body.modal-open {
    padding-right:0 !important;
}

#wrapper {
  position: absolute;
  top: 70px;
  bottom: 0;
  left: 20px;
  right: 20px;
  border: 1px solid rgba(black, .2);
  @include border-top-radius ($wrapper-corner-size);
  @include box-shadow(0 0 0 2px $box-shadow-color);
  overflow: hidden;
}

#sidebar, #content, #footer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#sidebar {
  padding:55px 0 0 0;
  background: $sidebar-bg;
  width: $sidebar-width;
  z-index:2;
}

#tools, #footer {
  margin-left: $sidebar-width;
}

#content {
  left: $sidebar-width;
}

#tools {
  
  border-bottom: solid 1px #dddddd;
  background-color: $breadcrumb-bg;
}

#footer {
  top: auto;
  height: 51px;
  text-align: center;
  padding-top: 2px;
  border-top: solid 1px #dddddd;
  z-index:1;
}

#content {
  bottom: 52px;
  overflow: auto;
  margin: 51px 0 0 0;
  background-color: $body-bg;
  padding: 10px 0;
  left: $sidebar-width;
  z-index:0;
}


h1.page-title {
  padding-bottom: 9px;
  border-bottom: 1px solid $table-bg-hover;
}


// XS, SM, MD  
@media screen and (max-width: 991px) {
  
  #sidebar {
    left: -$sidebar-width;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    border-right: solid 10px #fff;
    
    &.active {
      left: 0;
    }
  }
  #tools, #footer, #content {
    margin-left: 0;
    left: 0;
  }

}

// SM  
@media screen and (max-width: 767px) and (min-width: 544px) {
  
  body {
    padding: 0px;
  }
  
  #nav {
    position: fixed;
    right:0;
    left:0;
    z-index:5;
    background: $body-bg-primary;
    @include box-shadow(0 0 2px 2px $box-shadow-color);
  }
  
  #wrapper, #content, #footer {
    position: relative;
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
    margin: 0;
    @include border-top-radius (0);
  }
  
  #tools {
    margin-top: 47px;
  }

}


// XS
@media screen and (max-width: 543px) {
  body {
    padding: 0px;
  }
  
  #wrapper, #content, #footer {
    position: relative;
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
    margin: 0;
    @include border-top-radius (0);
  }
}
  

@media screen and (min-width:1200px) {
  
  .blog_contents_post_form, .blog_page_form {
    
    .row-offcanvas {
      position: relative;
      -webkit-transition: all 0.25s ease-out;
      -moz-transition: all 0.25s ease-out;
      transition: all 0.25s ease-out;
    }
    
    .row-offcanvas-right {
      &.active {
        .sidebar-offcanvas {
          right: 0;
        }
      }
    
      .sidebar-offcanvas {
        right: -39%;
        position: absolute;
        top: -50px;
        width: 40%;
        
        .toggle-button {
          position: absolute;
          top: 5px;
          left:-23px; 
          z-index:4;
        }
      }      
    }
    
  }
}




.card {
    overflow:hidden;
}

