.table {
  .thead-default {
    a {
      color: $gray;
      &:hover {
        color: $link-hover-color;
      }
    }
  }
  .bg-muted {
    background: $gray;
  }
}

.filters {
  margin-bottom: 1rem;
}