/ views/blog/contents/posts/_form_layout.html.haml

.blog_contents_post_form{style: "position:relative"}
  .row
    .col-xs-12
      = render 'form'
  #offcanvas-aside-right{role: "contentinfo"}
    = render 'form-aside'

        
