/ views/blog/contents/posts/_form-aside.html.haml

.card-shadow
  .card
    = image_tag 'decoration/form-cards/blog_contents_post.jpg', class: 'card-img-top img-fluid'
    .card-block
      %h4.card-title How to Write a Blog Post ?
      %p.card-text 
        A Simple Formula to Follow:
      %ul.list-group.list-group-flush
        %li.list-group-item Step 1: Understand your audience.
        %li.list-group-item Step 2: Start with a topic and working title.
        %li.list-group-item Step 3: Write an intro (and make it captivating).
        %li.list-group-item Step 4: Organize your content.
        %li.list-group-item Step 5: Write!
        %li.list-group-item Step 6: Edit/proofread your post, and fix your formatting.
        %li.list-group-item Step 7: Insert a call-to-action (CTA) at the end.
        %li.list-group-item Step 8: Optimize for on-page SEO.
        %li.list-group-item Step 9: Pick a catchy title.
    .card-block
      = link_to 'Read More', 'http://blog.hubspot.com/marketing/how-to-write-blog-post-simple-formula-ht'
