$('tbody').html('#{j render(partial: 'index-table-tr', collection: @posts, as: :post)}');
$('section.pagination').html('#{j(paginate(@posts, :remote => true).to_s)}');
$('tbody').removeClass('loading');