/ views/blog/contents/posts/new.html.haml

- content_for :page_title do
  = i Blog::Contents::Post.decorator_class.icon
  = t 'activerecord.actions.new'
  = tm 'blog/contents/post'

= render 'form_layout'