/ Navigation

%nav.navbar.navbar-dark.navbar-fixed-top.bg-inverse
  %button.navbar-toggler.hidden-sm-up.pull-right{type: 'button', data: {toggle: 'collapse', target:'#navbar'}, aria: {expanded: 'false', controls: 'navbar'}}
    %span.sr-only Toggle navigation
    ☰
  = link_to 'Nanoob', root_path, class: 'navbar-brand'
  #navbar.collapse.navbar-toggleable-xs
    %ul.nav.navbar-nav.pull-right
      %li.nav-item
        = link_to 'Dashboard', root_path, class: "nav-link"
      - if user_signed_in?
        %li.nav-item        
          = link_to current_user.username, people_user_path(current_user), class: "nav-link"
        %li.nav-item 
          = link_to "Logout", destroy_user_session_path, :method => :delete, class: "nav-link"
