.card-post-date {
  font-size: 17px;
  line-height: 14px;
  position: absolute;
  top: 9px;
  right: 12px;
  width: 55px;
  height: 55px;
  background: #fff;
  padding-top: 11px;
  border: $brand-primary solid 2px;
  color: $brand-primary;
  text-align: center;
  text-transform: uppercase;
  .post-date-day, .post-date-month {
    display: block;
  }
  .post-date-month {
    font-size: 80%;
  }
}