/ views/business/websites/_form-aside.html.haml

.card
  = image_tag 'decoration/form-cards/business_website.jpg', class: 'card-img-top img-fluid'
  .card-block
    %h4.card-title Our Websites
    %p.card-text A website that we own to publish our blogs and our products.